@charset "utf-8";
/* CSS Document */
/*<link rel="stylesheet" href="impreso.css" media="print">*/

/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Web Fonts */
@font-face { font-family: Keffeesatz; src: url('../fonts/YanoneKaffeesatz-Light.woff') format('woff'), url(../fonts/YanoneKaffeesatz-Light.otf) format("opentype") }
@font-face { font-family: KeffeesatzRegular; src: url('../fonts/YanoneKaffeesatz-Regular.woff') format('woff'), url(../fonts/YanoneKaffeesatz-Regular.otf) format("opentype"); }
@font-face { font-family: KeffeesatzBold; src: url('../fonts/YanoneKaffeesatz-Bold.woff') format('woff'), url(../fonts/YanoneKaffeesatz-Bold.otf) format("opentype"); }

/* Body and Wrapper */
body {
	/*background: url(../images/bg/bg_flow.jpg) center fixed;/*
	/*background: url(../images/background_pattern_2.png) center fixed;*/
	background-color: #5599FF;
	/*background-image: -webkit-linear-gradient(270deg,blue 50%,red 25%);*/
	font-family: Keffeesatz, Arial; 
	font-size: 20px;
	color: #4b4b4b; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.wrapper {
	background: rgba(255, 255, 255, 0.50);
	margin-left: auto;
    margin-right: auto;
	width: 1000px;
	-webkit-box-shadow: 0 0 5px 5px rgba(75,75,75,0.25);
	-moz-box-shadow: 0 0 5px 5px rgba(75,75,75,0.25);
	box-shadow: 0 0 5px 5px rgba(75,75,75,0.25);
	padding-left: 25px;
	padding-right: 25px;
}
article{
	height: 750px;
	margin-bottom: 100px; /* Blank Space Between The Articles */
}

#contacto{
	height: 1500px;
}

/* Typography */
h1 { font-size: 50px; }
h2 { font-size: 45px; }
h3 { font-size: 40px; }
h4 { font-size: 35px; }
h5 { font-size: 30px; }
h6 { font-size: 25px; }

h1, h2, h3, h4, h5, h6 { 
	/*color:#0099ff;*/
	color: #091023;
	font-family: KeffeesatzBold, Arial; 
}

strong {
	font-family: KeffeesatzRegular, Arial;
	letter-spacing: 1px;
}

a {
	color: #4b4b4b; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}	

header h1 {
	font-family: KeffeesatzBold;
	font-size: 80px;
	/*color:#0099ff;*/
	color: #850a0f;
	text-align:center;
}

/* General Styling */
span.dropcap { 
	font-size: 300%; 
	font-weight: bold; 
	float: left; 
	position: relative; 
	margin:5px 7px 0 0; 
	line-height: 0.5em; 
}

.left{
	float:left;
}

.right{
	float: right;
}	

.intro {
	font-size: 30px;
	text-align:center;
}

.title {
	font-family: KeffeesatzBold;
}

.hide {
	visibility:hidden;
}

.separador  { 
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.separador img { 
	width: 1000px;
	height: 10px;
	margin: 0px;
	padding: 0px;
}

.quote p { 
	margin: 15px 0px 15px 80px; 
	padding: 0 0 0 50px; 
	background: url(../images/content/quote.png) no-repeat 0 3px; 
	font-family: serif; 
	font-size: 1.5em; 
	font-style: italic; 
	color:#777; 
	min-height: 35px;
}

/* -------------------- MENÚ DE NAVEGACIÓN -------------------- */
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation li {
    width: 100px;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.75) ;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
ul#navigation .inicio a{
    background-image: url(../images/content/home.png);
}
ul#navigation .empresa a      {
    background-image: url(../images/content/id_card.png);
}
ul#navigation .productos a      {
    background-image: url(../images/content/search.png);
}
ul#navigation .galeria a     {
    background-image: url(../images/content/camera.png);
}
ul#navigation .contacto a    {
    background-image: url(../images/content/mail.png);
}
ul#navigation .localización a   {
    background-image: url(../images/content/rss.png);
}
/* -------------------- /MENÚ DE NAVEGACIÓN -------------------- */

/* -------------------- INICIO -------------------- */
#logo_inicio {
	margin-top: 25px;
	text-align: center;
	font-size: 40px;
}

#logo_inicio img{
	width: 800px;
	border: 10px solid rgba(255, 255, 255, 0.5); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	box-shadow: 10px 20px 50px rgba(100,100,50,0.5);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

#logo_inicio img:hover{
	border: 10px solid rgba(255, 255, 255, 0.5); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	box-shadow: 10px 20px 50px rgba(50,25,15,0.7);
}

#diapositivas{
	width: 980px;
	height: 160px;
	padding: 75px 0px 0px 20px;
	/*background-color: rgba(100,100,100,0.2);
	border-radius: 15px;
	-webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.7) 0%, transparent 60%, transparent 100%);*/
}

#diapositivas img{
	width: 150px;
	height: 100px;
	float: left;
	position: relative;
	z-index: 1;
	background-color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 30px 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

#diapositivas img:hover{
	-webkit-transform: scale(1.25);
	z-index: 2;
}

.rot_right{
	-webkit-transform: rotate(20deg);
}

.rot_left {
	-webkit-transform: rotate(-20deg);
}
/* -------------------- /INICIO -------------------- */

/* -------------------- EMPRESA -------------------- */
.empresa_desc_derecha  { 
	width: 1000px;
	height: 180px;
	text-align:justify;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.empresa_desc_derecha img { 
	float: right;
	width: 266px;
	height: 150px;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
	border: 6px solid rgba(255, 255, 255, 0.5); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

.empresa_desc_derecha p { 
	padding: 15px 0px 0px 0px;
}

.empresa_desc_izquierda  {
	width: 1000px;
	height: 180px;
	text-align:justify;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.empresa_desc_izquierda img { 
	float: left;
	width: 266px;
	height: 150px;
	margin: 0px 15px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 6px solid rgba(255, 255, 255, 0.5); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

.empresa_desc_izquierda p { 
	padding: 15px 0px 0px 0px;
}
/* -------------------- /EMPRESA -------------------- */

/* -------------------- PRODUCTOS -------------------- */
#Listado_productos {
	width: 150px;
	height: 450px;
	margin-top: 20px;
	float: left;
}

#Listado_productos > section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	background: #eee;
	width: 150px;
	height: 450px;
	border: 1px solid #ccc;
	padding: 0.25em;
	border-radius: 10px;
	-webkit-flex: none;
	-moz-flex: none;
	-ms-flex: none;
	-o-flex: none;
	flex: none;
}
#Listado_productos > section > a {
  border: 1px solid rgb(204, 204, 204);
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  padding: 0.25em;
  margin: 0.25em;
  background: white;
  font-family: Keffeesatz, Arial; 
  font-size: 25px;
  color: #091023; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-transition: -webkit-flex 500ms cubic-bezier(.17,.67,0,1.45);
  -moz-transition: -moz-flex 500ms cubic-bezier(.17,.67,0,1.45);
  -ms-transition: -ms-flex 500ms cubic-bezier(.17,.67,0,1.45);
  -o-transition: -o-flex 500ms cubic-bezier(.17,.67,0,1.45);
  transition: flex 500ms cubic-bezier(.17,.67,0,1.45);
  text-align: center;
}
#Listado_productos > section > a:hover {
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  -o-flex: 3;
  flex: 3;
  text-decoration: none;
  background: #091023;
  color: #FFFFFF;
}
#Listado_productos > section > a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#Listado_productos > section > a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#lista {
	width: 805px;
	height: 460px;
	float: left;
	margin: 20px 0px 0px 38px;
	padding-right: 1px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 10px;
}

#productos > div > article {
	position: absolute;
	width: 800px;
	height: 450px;
	margin: -104px 10px 10px 30px;
	padding: 120px 0px 0px 0px;
	list-style: none;
	z-index: -5;
	-webkit-transition: z-index 500ms ;
	-moz-transition: z-indez 500ms );
	-ms-transition: z-index 500ms ;
	-o-transition: z-index 500ms ;
	transition: z-index 500ms ;
}

#productos > div > article:target {
	z-index: 5;
}

#nombres{
	width: 150px;
	position: absolute;
}

#nombres > h5 {
	margin-bottom: 10px;
	width: 150px;
}

#productos_fotos{
	width: 600px;
	height: 450px;
	float: left;
	margin-left: 150px;
}

#productos_fotos img{
	width: 133px;
	height: 100px;
	margin: 2px 5px 2px 5px;
}

#frescos_congelados{
	width: 994px;
	position: relativa;
	background: #EEEEEE;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 510px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
}
/* -------------------- /PRODUCTOS -------------------- */

/* -------------------- GALERÍA FOTOGRÁFICA -------------------- */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/*Transparencia fotos slider*/
.slider { margin-left:auto; margin-right:auto; margin-top: 0px!important; margin-bottom: 10px!important; width: 850px; height: 480px; text-align: center; border: 0px;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}



/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff') format('woff'),
		url('../fonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 10px; background: #fff; border: 5px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 480px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/* -------------------- /GALERÍA FOTOGRÁFICA -------------------- */

/* -------------------- LOCALIZACIÓN -------------------- */
iframe{
	width: 480px;
	height: 400px;
	border: 6px solid rgba(255, 255, 255, 0.5); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
}

#localizacion_ablaña, #localizacion_mieres{
	margin-top: 10px;
}

#localización > div > h6{
	text-align: center;
	margin-bottom: 5px;
}
/* -------------------- /LOCALIZACIÓN -------------------- */

/* -------------------- CONTACTO -------------------- */
#contacto_cárnica, #contacto_carnicería{
	width: 455px;
	height: 335px;
	float: left;
	margin: 0px;
	padding: 5px 15px 15px 15px;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

#contacto_cárnica{
	margin-right: 15px;
}

#contacto_carnicería{
	margin-left: 15px;
}

#contacto_cárnica h3, #contacto_carnicería h3{
	text-align: center;
	color: #850a0f;
}

#contacto_cárnica p, #contacto_carnicería p{
	text-indent: 30px;
}

#sub_cárnica img{
	width: 230px;
	height: 6px;
}

#sub_carnicería img{
	width: 320px;
	height: 6px;	
}

.subrayado {
	text-align: center;
	margin: -13px 0px 15px 0px;
}

#botones
{
	width: 985px;
	height: 125px;
	float: left;
	padding: 0px 0px 0px 15px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

#botones > a > div{
	width: 61px;
	height: 61px;
	padding-top: 15px;
	padding-left: 15px;
	float: left;
}

#fb_boton {
	background: url(../images/fb_social.png) no-repeat left center;
}

#fb_boton:hover {
	background: url(../images/fb_social_hover.png) no-repeat left center;
}

#gmail_boton {
	background: url(../images/gmail_social.png) no-repeat left center;
}

#gmail_boton:hover {
	background: url(../images/gmail_social_hover.png) no-repeat left center;
}

#twitter_boton {
	background: url(../images/twitter_social.png) no-repeat left center;
}

#twitter_boton:hover {
	background: url(../images/twitter_social_hover.png) no-repeat left center;
}

#rss_boton {
	background: url(../images/rss_social.png) no-repeat left center;
}

#rss_boton:hover {
	background: url(../images/rss_social_hover.png) no-repeat left center;
}

#linkedin_boton {
	background: url(../images/linkedin_social.png) no-repeat left center;
}

#linkedin_boton:hover {
	background: url(../images/linkedin_social_hover.png) no-repeat left center;
}

#youtube_boton {
	background: url(../images/youtube_social.png) no-repeat left center;
}

#youtube_boton:hover {
	background: url(../images/youtube_social_hover.png) no-repeat left center;
}

#formulario
{
	width: 985px;
	height: auto;
	float: left;
	padding: 0px 0px 0px 15px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

#formulario > form{
	padding-left: 50px;
}

#formulario > form > fieldset{
	margin-top: 15px;
}

#formulario > form > fieldset > label{
	margin-bottom: 15px;
}

#formulario > form > fieldset > p{
	margin-top: 0px;
}

#formulario + span{
	margin-left: 20px;
}
textarea{
	vertical-align: top;
	width: 300px;
	max-width: 870px;
	height: 75px;
	max-height: 120px;
}

button{
	width: 200px;
	height: 40px;
	float: left;
	color: #183151;
	margin: 10px 0px 25px 50px;
	font-family: Keffeesatz, Arial;
	font-size: 21px;
	text-align:center;
	vertical-align: center;
	background: -webkit-linear-gradient(to bottom right, #FFF, #AAA);
	background: -moz-linear-gradient(to bottom right, #FFF, #AAA);
	background: -ms-linear-gradient(to bottom right, #FFF, #AAA);
	background: -o-linear-gradient(to bottom right, #FFF, #AAA);
	background: linear-gradient(to bottom right, #FFF, #AAA);
	border-width: 3px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border-style:solid;
	border-color:#183151;
	-webkit-box-shadow: 3px 3px 5px #AAA;
    -moz-box-shadow: 3px 3px 5px #AAA;
	box-shadow: 3px 3px 5px #999;
}

button:hover{
	display:block;
	color:#FFF;
	background: -webkit-linear-gradient(to bottom right, #0f213a, #1e3e64);
	background: -moz-linear-gradient(to bottom right, #0f213a, #1e3e64);
	background: -ms-linear-gradient(to bottom right, #0f213a, #1e3e64);
	background: -o-linear-gradient(to bottom right, #0f213a, #1e3e64);
	background: linear-gradient(to bottom right, #0f213a, #1e3e64);
}
/* -------------------- /CONTACTO -------------------- */

/* -------------------- PIE DE PÁGINA -------------------- */
footer{
	width: 100%;
	height: 75px;
	margin: -75px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #232323;
	border-top: 5px solid #FFFFFF;
	font-size: 20px;
	color: #777777;
}

#Pie_página{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

span.Copyright{
	float: left;
	margin: 10px 0px 0px 0px;
}

span.Designer{
	float: right;
	margin: 10px 0px 0px 0px;
}

span.Designer > a{
	color: #777777;
}

span.Designer > a:hover{
	color: #888888;
}
/* -------------------- /PIE DE PÁGINA -------------------- */
